# Prototype
snippet comm
	//----------------------------------------
	// ${1:comment}
	//----------------------------------------

snippet trace
	trace("*************************");
	trace(${1:message});
	trace("*************************");
